<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->

    <style type="text/css">
    	.good
    	{
    		background-color: #90EE90;
    	}

    	.moderate
    	{
    		background-color: #FFFFB7;
    	}

    	.usg
    	{
    		background-color: #FDE26C;
    	}

    	.unhealthy
    	{
    		background-color: #DBB98F;
    	}

    	.veryunhealthy
    	{
    		background-color: #FFB8A1;
    	}

    	.hazardous
    	{
    		background-color: #EF5350;
    	}
    </style>
  </head>
  <!--style="background-color: #ededed;"-->
  <body>
  	
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  	<a class="navbar-brand" href="{% url 'home' %}">
	  		<!-- <span class="glyphicon glyphicon-asterisk"></span> -->
	  		<i class="fa fa-cloud"></i>
	  		Weather Application
	  	</a>
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  	</button>

	  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="{% url 'about_us' %}">About Us</a>
		      </li>
		      <!-- <li class="nav-item">
		        <a class="nav-link" href="#">Link</a>
		      </li> -->
		      <!-- <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Dropdown
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="#">Action</a>
		          <a class="dropdown-item" href="#">Another action</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">Something else here</a>
		        </div>
		      </li> -->
		      <!-- <li class="nav-item">
		        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
		      </li> -->
		    </ul>
		    <form action="{% url 'home' %}" class="form-inline my-2 my-lg-0" method="POST">
		    	<!--csrf_token puts a unique code a unique number on our form so that hackers can't hijack it-->
		    	{% csrf_token %}
			    <input class="form-control mr-sm-2" type="search" placeholder="Enter Zip Code of USA" aria-label="Search" name="zipcode">
			    <button class="btn btn-outline-light" type="submit">Search (USA) </button>

			    <!-- <input class="form-control mr-sm-2" type="search" placeholder="Enter District of Nepal" aria-label="Search" name="districtnepal">
			    <button class="btn btn-outline-light" type="submit">Search (Nepal) </button> -->
		    </form>

		    <!-- <form action="{% url 'home' %}" class="form-inline my-2 my-lg-0" method="POST" style="margin-left: 1%;">
		    	
		    	{% csrf_token %}
			    <input class="form-control mr-sm-2" type="search" placeholder="Enter District of Nepal" aria-label="Search" name="districtnepal">
			    <button class="btn btn-outline-light" type="submit">Search (Nepal) </button>
		    </form> -->
	  	</div>
	</nav>

	<div class="container">


  		{% block content %}

		{% endblock %}
  	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>